

.container img{
   height: 350px;
    width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
}

.contenido{
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
align-items: center;
text-align: center;
padding: 40px;
background-color: wheat;

    
}
.estadisticas{
   width: 520px;
   text-align: center;
    grid: 2rem;
    margin: auto;
background-color: white;
border: 2px black solid;
padding: 30px;

}
.leidos{
  float: left;
}
.compartidos{
    
display: inline-block ;
}

.comentarios{
 float: right;
}